In [3]:
import pandas as pd

In [4]:
sheet_url='https://docs.google.com/spreadsheets/d/1SdVtOQykaROvx9n9tezpGg2BXL2zixJL/edit#gid=109307861'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
 
df = pd.read_csv(csv_export_url, header=None)
df.head()

                                                   0
0  db.mycol.find({$and:[{"by":"tutorials point"},...
1  db.Document.find({ "type": { "$gte": "" } })::::1
2  db.books.insert({ title: 'The Hobbit', author:...
3        db.books.find({ title: 'The Hobbit' })::::0
4  db.logins.find({ username: 'tolkien', password...

In [5]:
sheet_url='https://docs.google.com/spreadsheets/d/1Y8k582i3d05SfLFJmaSzKLO2T18NfGp8Exm4qG2UR9g/edit#gid=1029040470'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
 
df2 = pd.read_csv(csv_export_url)
df2.head()

   Feature0  Feature1  Feature2  ...  Feature8  Feature9  ClassLabel
0         0         0         0  ...         0         0           0
1         1         1         0  ...         0         0           1
2         0         0         0  ...         0         0           0
3         0         0         0  ...         0         0           0
4         0         0         0  ...         0         0           0

[5 rows x 11 columns]

**Feature Extraction**

In [6]:
# Detect if query has $ne

def containsNotEqual(query):
  if "$ne" in query:
    return 1
  else:
    return 0

In [14]:
# Detect if query alters the table

def doesCreateTable(query):
  if "createTable()" in query:
    return 1
  else:
    return 0

def doesShowTable(query):
  if "showTable()" in query:
    return 1
  else:
    return 0

def doesDropDatabase(query):
  if "dropDatabase(" in query:
    return 1
  else:
    return 0

In [18]:
# Detect if query has operations

def containsReturn(query):
  if ";return" in query or "return 1" in query or "return true" in query or "return(true)" in query:
    return 1
  else:
    return 0

def isUpdateQuery(query):
  if "update(" in query or "save(" in query:
    return 1
  else:
    return 0

def isRemoveQuery(query):
  if "remove(" in query:
    return 1
  else:
    return 0

In [19]:
# Detect if query has operations

def containsEmptyArray(query):
  if "{}" in query or "[]" in query:
    return 1
  else:
    return 0

def isNewQuery(query):
  if ";db.(" in query:
    return 1
  else:
    return 0

# New Section

In [16]:
for index, row in df.head(1).iterrows():
    #print(index, row)
    #print(type(row))
    print(containsNotEqual(row))
    print(containsNotEqual("sdlks kjslkf $ne=1"))

0
1