In [ ]:
import pandas as pd
sheet_url='https://docs.google.com/spreadsheets/d/1MvIxVRBs4u6UFfvnu2khnU_gtrcoLUch5Tci-hcdkAk/edit#gid=635530870'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df = pd.read_csv(csv_export_url)
df

                                                Sentence  Label
0                                                    NaN      1
1                          " or pg_sleep ( __TIME__ ) --      1
2      create user name identified by pass123 tempora...      1
3                                                    %29      1
4       AND 1 = utl_inaddr.get_host_address  (  (  SE...      1
...                                                  ...    ...
37939   org/?option = com_k2  <a href = "http://corfopym      0
37940  com/?option = com_k2  <act>  <![CDATA[procMemb...      0
37941                                          picsearch      0
37942  com/is?-WZx-uhyLezKNiYLvAbKL3W4oh5F749nr2KUmFF...      0
37943  de]]>  </email_address>   <find_account_answer...      0

[37944 rows x 2 columns]

In [ ]:
sentence_col = df.drop(['Label'],axis='columns')
Y = df['Label']
sentence_col

                                                Sentence
0                                                    NaN
1                          " or pg_sleep ( __TIME__ ) --
2      create user name identified by pass123 tempora...
3                                                    %29
4       AND 1 = utl_inaddr.get_host_address  (  (  SE...
...                                                  ...
37939   org/?option = com_k2  <a href = "http://corfopym
37940  com/?option = com_k2  <act>  <![CDATA[procMemb...
37941                                          picsearch
37942  com/is?-WZx-uhyLezKNiYLvAbKL3W4oh5F749nr2KUmFF...
37943  de]]>  </email_address>   <find_account_answer...

[37944 rows x 1 columns]

# **Feature Extraction**

In [1]:
#  Detect select/update/insert/delete keyword at the initial part of the query

def isFetchCommandType(query):

    intial_keyword = query.split(' ')[0].lower()
    if( intial_keyword == 'select' ):
        return 1
    else:
        return 0

def isUpdateCommandType(query):
    intial_keyword = query.split(' ')[0].lower()
    if( intial_keyword == 'update' ):
        return 1
    else:
        return 0
      
def isInsertCommandType(query):
    intial_keyword = query.split(' ')[0].lower()
    if( intial_keyword == 'insert' ):
        return 1
    else:
        return 0

def isDeleteCommandType(query):
    intial_keyword = query.split(' ')[0].lower()
    if( intial_keyword == 'delete' ):
        return 1
    else:
        return 0


print(isFetchCommandType("INSERT into(223,'sajid','2343113')") )
print(isUpdateCommandType("DELETE into(223,'sajid','2343113')") )
print(isInsertCommandType("DELETE into(223,'sajid','2343113')") )
print(isDeleteCommandType("DELETE into(223,'sajid','2343113')") )

0
0
0
1

In [ ]:
# Detect 'order by' keyword in the query

def detectSortClause(query):
    keyword='order by'
    if(keyword in query):
        return 1
    else:
        return 0

print(sortClause("-5021'+ ( select yadq where 4285 = 4285 order by 1#"))

1

In [ ]:
  # Detect group by keyword
  def detectGroupClause(query):
      keyword='group by'
      if(keyword in query):
        return 1
      else:
          return 0

print(detectGroupClause("-5021'+ ( select yadq where 4285 = 4285 order by 1#"))

0

In [ ]:
# Detect over keyword 

def detectWindowClause(query):
    keyword='over'
    if(keyword in query):
      return 1
    else:
      return 0

print(detectWindowClause("-5021'+ ( select yadq where 4285 = 4285 order by 1#"))

0

**List of window functions**: https://www.sqlshack.com/use-window-functions-sql-server/

In [ ]:
# detect window function in the query RANK(), DENSE_RANK(), ROW_NUMBER(), NTILE(),SUM(), MAX(), MIN(), AVG(). COUNT(),LAG(), LEAD(), FIRST_VALUE(), LAST_VALUE(),

def hasWindowFunc(query):
    window_func_list=['sum','avg','max','min','count','rank','dense_rank','row_number','nitle','lag','lead','first_value','last_value']

    for window_func in window_func_list:
        #print(window_func)
        if(window_func in query.lower()):
              return 1
        else:
              return 0


hasWindowFunc("SELECT city, SUM(order_amount) total_order_amount FROM [dbo].[Orders] GROUP BY city")

1